In [1]:
#pip install pyspark

In [2]:
import random
from datetime import datetime as dt
from datetime import timedelta
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DateType, FloatType

In [3]:
spark = SparkSession.builder \
    .appName("orders") \
    .getOrCreate()
schema = StructType([
    StructField("Дата", DateType(), True),
    StructField("UserID", StringType(), True),
    StructField("Продукт", StringType(), True),
    StructField("Количество", IntegerType(), True),
    StructField("Цена", FloatType(), True)
])

In [4]:
start_dt = dt.strptime('01.01.2024', '%d.%m.%Y')
end_dt = dt.strptime('10.10.2024', '%d.%m.%Y')

data =[((start_dt + timedelta(random.randint(0, (end_dt-start_dt).days))),
       f'user{random.randint(10,100)}',
       random.choice(['banana','apple','kiwi','cucumber','potato']),
       random.randint(1,10),
       round(random.uniform(50,120),2)) for i in range(1000)]
orders = spark.createDataFrame(data, schema)

In [5]:
orders.write.csv('orders.csv')

In [6]:
spark.stop()